<div class= "about">
<h2>About</h2>
<p>The A+ Learning Calculator is an online tool for students and their teachers to aid 
in the instruction and learning of arithmetic estimation. The user enters a problem,
rounds the problem, and inputs an answer to the rounded problem. Addition, subtraction,
multiplication, and division are all accepted. The A+ learning calculator provides a simple
interface so users of all ages may play around with it as much as they like.</p>
<p>The development team behind the A+ Learning Calculator is comprised of students of The
University of Massachusetts Boston. The project was created for client Eleanor Demont as 
part of The Introduction to Software Engineering class.</p>
<p>Project Members: Neil Boyle, Jordan Hourani, Daniel Housley, Evan Simons</p>
<p>Release v 1.0</p>
</div>