<%= form_for(@problem) do |f| %>

  <script>
  var start;
  window.onload=function(){
	$('#transBtn').popover({title: "Sorry!", content: "All numbers (including answers) have to be between -2,147,483,647 and 2,147,483,647.", placement: "bottom", trigger: "manual"});
	$('#ansBtn').popover({title: "Sorry!", content: "All numbers (including answers) have to be between -2,147,483,647 and 2,147,483,647.", placement: "bottom", trigger: "manual"});
	var a=document.getElementById("problem_a");
	a.select();
  }
  function init(s){
	setSign(s)
	if (s=='-') $("#minusbtn").button('toggle');
	else if (s=='*') $("#multibtn").button('toggle');
	else if (s=='/') $("#divbtn").button('toggle');
	else $("#plusbtn").button('toggle');
  }
  function setSign(s){	
	document.getElementById("problem_sign").value = s;
	if (s=='-'){
		document.getElementById("sign").innerHTML = '&#8211';
		document.getElementById("sign2").innerHTML = '&#8211';		
	}
	else if (s=='*'){
		document.getElementById("sign").innerHTML = '&#215';
		document.getElementById("sign2").innerHTML = '&#215';
	}
	else if (s=='/'){
		document.getElementById("sign").innerHTML = '&#247';
		document.getElementById("sign2").innerHTML = '&#247';
	}
	else{
		document.getElementById("sign").innerHTML = s;
		document.getElementById("sign2").innerHTML = s;
	}
  }
  function clearFields(){
	document.getElementById("problem_x").value="";
	document.getElementById("problem_y").value="";
	document.getElementById("problem_answer").value="";
	$('#transBtn').popover('hide');
  }
  function validate(x){
	var notEmpty = /^\s*-?\d+\s*$/;
	return (notEmpty.test(x));
  }
  function numsTooBig(){
	var a=document.getElementById("problem_a").value;
	var b=document.getElementById("problem_b").value;
	var x=document.getElementById("problem_x").value;
	var y=document.getElementById("problem_y").value;
	var f=document.getElementById("problem_answer").value;
	if (a>2147483647 || a<-2147483647 || b>2147483647 || b<-2147483647 || x>2147483647 || x<-2147483647 || y>2147483647 || y<-2147483647 || f>2147483647 || f<-2147483647){
		return true;
	}
  }
  function func(){
	var tooBig = numsTooBig();
	if (!tooBig) {$('#transBtn').popover('hide');}
	else {$('#transBtn').popover('show');}
	var a = document.getElementById("problem_a");
	var b = document.getElementById("problem_b");
	if (validate(a.value) && validate(b.value) && !tooBig){
		start = Date.now();
		a.disabled = true;
		b.disabled = true;
		document.getElementById("nextbutton").style.display = "none";
		document.getElementById("step2").style.display = "block";
		$(".alert-success").alert('close');
		document.getElementById("problem_x").select();
	}
  }
  function resetForm(){
	$('#transBtn').popover('hide');
	$('#ansBtn').popover('hide');
	var a = document.getElementById("problem_a");
	var b = document.getElementById("problem_b");
	a.disabled = null;
	b.disabled = null;
	a.value="";
	b.value="";
	clearFields();
	document.getElementById("nextbutton").style.display = "block";
	document.getElementById("step2").style.display = "none";
	$(".alert").alert('close');
	a.select();
  }
  function ansclick(){
	var tooBig = numsTooBig();
	if (!tooBig) {$('#ansBtn').popover('hide');}
	else {$('#ansBtn').popover('show');}
	var x = document.getElementById("problem_x").value;
	var y = document.getElementById("problem_y").value;
	var answer = document.getElementById("problem_answer").value;
	if (validate(x) && validate(y) && validate(answer) && !tooBig){
		var elapsed = Date.now() - start;
		document.getElementById("problem_a").disabled = false;
		document.getElementById("problem_b").disabled = false;
		document.getElementById("problem_time").value = elapsed;
		document.forms[0].submit();
	}
  }
  </script>
  <div id="sidebar">
	<div id="operator-btns" class="btn-group btn-group-vertical" data-toggle="buttons-radio">
		<button id="plusbtn" class="btn sign-btn" type="button" onclick="setSign('+');"><h1>+</h1></button>
		<button id="minusbtn" class="btn sign-btn" type="button" onclick="setSign('-');"><h1>&#8211;</h1></button>
		<button id="multibtn" class="btn sign-btn" type="button" onclick="setSign('*');"><h1>&#215;</h1></button>
		<button id="divbtn" class="btn sign-btn" type="button" onclick="setSign('/');"><h1>&#247</h1></button> 
	</div>
  </div>
  
	<div id="instructions">
		Step 1: Enter a problem<br>               
		Step 2: Round the problem<br>              
		Step 3: Answer the rounded problem     
	</div>
  
  <div id="section1">
	<div id="field1">
		<%= f.number_field :a, :onchange=>"clearFields();" %> 
	</div>
	<div id="op1">
		<h2><span id="sign"></span></h2>
	</div>
	<div id="field2">
		<%= f.number_field :b, :onchange=>"clearFields();" %>
	</div>
	<div id="step2" style = "display:none;">
		<div id="field3">
			<%= f.number_field :x %>
		</div>
		<div id="field4">
			<%= f.number_field :y %>
		</div>
		<div id="op2">
			<h2><span id="sign2"></span></h2>
		</div>
		<div id="field5">
			<%= f.number_field :answer %>
		</div>
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :time %>
		<%= f.hidden_field :sign %>
		<script> init(document.getElementById("problem_sign").value); </script>
		<div id="answerbutton">
			<button class="btn btn-primary" name="ansBtn" id="ansBtn" type="button" onclick="ansclick();">Check Answer</button>
			<button class="btn btn-danger" type="button" onclick="resetForm();">Reset</button>
		</div>
	</div>
	<div id="nextbutton">
		<button class="btn" name="transition" id="transBtn" type="button" onclick="func();">Next Step</button>
		<button class="btn btn-danger" type="button" onclick="resetForm();">Reset</button>
	</div>	
  </div>
   
  <% if @success %>
    <div class="message alert alert-success fade in">
	  <button class="close" data-dismiss="alert">×</button>
      <h5><%= @success.to_s %></h5>
    </div>
  <% end %>
    
  <% if @problem.errors.any? %>
    <div class="message alert alert-error fade in">
	  <button class="close" data-dismiss="alert">×</button>
      <h5>We noticed <%= pluralize(@problem.errors.count, "problem") %> with your answer:</h5>
      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% end %>
