<div class="btn-group">
	<button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
		Visualizations
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#">Problems per student</a></li>
		<li><a href="#">Some Option #2</a></li>
		<li><a href="#">Some Option #3</a></li>
	</ul>
</div>
<a class="btn" style="margin-left:5px" href="<%= exportCSV_path %>">
	Export as CSV
</a>
<%= render 'graph' %>
