<p id="notice"><%= notice %></p>

<p>
  <b>A:</b>
  <%= @problem.a %>
</p>

<p>
  <b>B:</b>
  <%= @problem.b %>
</p>

<p>
  <b>X:</b>
  <%= @problem.x %>
</p>

<p>
  <b>Y:</b>
  <%= @problem.y %>
</p>

<p>
  <b>Answer:</b>
  <%= @problem.answer %>
</p>

<p>
  <b>Sign:</b>
  <%= @problem.sign %>
</p>

<p>
  <b>Time:</b>
  <%= @problem.time %>
</p>

<p>
  <b>User:</b>
  <%= @problem.user %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
