<h1>Listing Users</h1>

<table id="users_index">
<thead>
  <tr>
  	<th>Username: </th>
    <th>Email: </th>
    <th>Teacher: </th>
    <th>Role: </th>
    <th>Admin? </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <% if user.teacher == current_user.teacher || current_user.role == "admin" %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.teacher %></td>
    <td><%= user.role %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Problems', student_problems_path(user: user) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</tbody>
</table>

<br />
