<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => user_registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :teacher %><br />
  <%= f.text_field :teacher %></div>

  <% if current_user.role == "admin" || "teacher" %>
    <div><%= f.label :role %><br />
    <%= f.select :role, [['Admin', 'admin'], ['Teacher', 'teacher'], ['Student', 'student']] %></div>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>