<h1>Student Problem Set</h1>

<table id="problem_set">
<thead>
  <tr>
	<th>user_id</th>
    <th>A</th>
    <th>B</th>
    <th>X</th>
    <th>Y</th>
    <th>Answer</th>
    <th>Sign</th>
    <th>Time Taken</th>
    <th>Timestamp</th>
    <th>Correct?</th>
    <th>Mistake Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @problems.each do |problem| %>
  <tr>
	<td><%= problem.user_id %></td>
    <td><%= problem.a %></td>
    <td><%= problem.b %></td>
    <td><%= problem.x %></td>
    <td><%= problem.y %></td>
    <td><%= problem.answer %></td>
    <td><%= problem.sign %></td>
    <td><%= problem.time %></td>
    <td><%= problem.created_at %></td>
    <td><%= problem.mistakes==0 %></td>
    <td><%= problem.mistakes==0 ? "n/a" : problem.mistakes %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

