<h1>Approximation Calculator</h1>

<%= form_tag("/calculateAdd", :method => "post") do %>
  <%= label_tag(:op, "Original Problem:") %>
  <%= text_field_tag(:a) %> + <%= text_field_tag(:b) %> <br />
  <%= label_tag(:rp, "Rounded Problem:") %>
  <%= text_field_tag(:x) %> + <%= text_field_tag(:y) %> <br />
  <%= label_tag(:fa, "Rounded Answer:") %>
  <%= text_field_tag(:f) %> <br />
  <%= submit_tag("Check Answer") %> <br />
<% end %>
<p><%= @message %></p>
