class <%= mailer_class_name %> < ActionMailer::Base
  default from: "from@example.com"

  def feedback(feedback)
    recipients  = 'webmaster@yoursite.com'
    subject     = "[Feedback for YourSite] #{feedback.subject}"

    @feedback = feedback
    mail(:to => recipients, :subject => subject)
  end
end
