// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about{
	border:2px solid lightgray;
	border-radius:25px;
	padding:5px;
	background-color: ghostwhite;

}