// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: lightyellow;
	margin-top: 0px;
	padding-top: 0px;
}

.login{
	border:2px solid lightgray;
	border-radius:25px;
	padding:5px;
	background-color:ghostwhite;
	width: 300px;
	margin: auto;
	.position{
		position:relative;
		left:40px;
	}
}