// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar{
	position:absolute;
	top:140px;
	left:0px;
	border-right: 5px solid black;
	width: 200px;
	height: 515px;
	z-index: -1;
}

#operator-btns{
	position:relative;
	top:+100px;
	left:+75px;
}

#instructions{
	position:absolute;
	top:230px;
	left:220px;
	font-size:110%;
	line-height:500%;
}

#section1{
	position:absolute;
	left: 500px;
	top: 250px;
}

#field1{
}

#op1{
	position:relative;
	top:-57px;
	left:+245px;
	width:20px;
}

#field2{
	position:relative;
	top:-100px;
	left:+300px;
}

#field3{
	position:relative;
	top:-70px;
}

#op2{
	position:relative;
	top:-170px;
	left:+245px;
	width:20px;
}

#field4{
	position:relative;
	top:-110px;
	left:+300px;
}

#field5{
	position:relative;
	top:-140px;
}

#answerbutton{
	position:relative;
	top:-180px;
	left:+350px;
}


.message{
	position:absolute;
	left:400px;
	top: 500px;
	width:50%;
}


#history{
	position:absolute;
	left:50%;
	bottom:0px;
}

#nextbutton{
	position:relative;
	top:-70px;
	left:+220px;
}