<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
	<%= link_to('About', help_about_path) %>
	</li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit Account', edit_user_registration_path) %>
    </li>
  <% end %>
  <% if user_signed_in? and current_user.role == "admin" || current_user.role == "teacher" %>
    <li>
    <%= link_to('View Students', users_path ) %>
    </li>
  <% end %>
  <% if user_signed_in? and current_user.role == "admin" || current_user.role == "teacher" %>
    <li>
    <%= link_to('New User', new_user_path ) %>
    </li>
  <% end %>
  <% if user_signed_in? and current_user.role == "admin" || current_user.role == "teacher" %>
	 <li>
	 <%= link_to('Student Data', data_path) %>
	 </li>
	<% end %>
</ul>